/* Text styling */


h1,h2,h3,h4 {
  font-weight: 400;
}

h1, h2 {
  text-align: center;
}

h3 {
  color:#f59;
}

h5 {
  font-weight: 600;
}

p {
  font-size: 0.9em;
}


/* Content positioning  */

.content {
  padding: 0.8em 1.5em 3.8em 1.5em;
}

