.even-columns {
  display: flex;
  background-color: bisque;
}

.even-columns > * {
  background-color: black;
  text-align: center;
  flex-basis: 100%;
  margin: 2em;
  color: #FFFAF5;
  padding: 1em;
}

.grid-ish {
  display: flex;
  background-color: bisque;
  flex-wrap: wrap;
}

.grid-ish > * {
  background-color: black;
  margin: 1em;
  flex: 1 1 8rem;
  padding: 0.4em;
  color: #FFFAF5;
}
