.even-columns {
  display: flex;
  background-color: bisque;
}

.even-columns > * {
  background-color: black;
  text-align: center;
  flex-basis: 100%;
  margin: 4em;
}

.grid-ish {
  display: flex;
  background-color: bisque;
  flex-wrap: wrap;
}

.grid-ish > * {
  background-color: black;
  margin: 4px;
  flex: 1 1 8rem;
  padding: 0.2em;
}
