.even-columns {
  display: flex;
  background-color: bisque;
}

.even-columns > * {
  background-color: black;
  text-align: center;
  flex-basis: 100%;
  margin: 20px;
  font-size: 2em;
}

.grid-ish {
  display: flex;
  background-color: bisque;
  flex-wrap: wrap;
}

.grid-ish > * {
  background-color: black;
  margin: 4px;
  flex: 1 1 10em;
  padding: 2px;
}

}
