/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto+Mono:wght@200&display=swap');


/* Base colour scheme */

body {
  background: #FFFAF5;
  color: #666; /* text colour */
  font-family: 'Quicksand', sans-serif;
  margin: 0; /* takes border to edge */
}

/* Logo font */

#logo {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  padding: 0.3em;
  color: #666; /* text colour */
}

#jscafe {
  text-decoration: none;
  align-content: center;
  width: 100%;
  padding: 3em;
}

/* Link styling */

a {
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:active {
  color: #f59;
  transition: all 0.3s ease 0s;

}

a:hover {
   color: #000;
   font-style: normal;
   cursor: pointer;
 }
