#logo {
  font-size: 6vh;
}

h1 {
  font-size: 4vh;
}

h2 {
  font-size: 3.5vh;
}

h3 {
  font-size: 3vh;
}

h4 {
  font-size: 2.5vh;
}

h5 {
  font-size: 2.25vh;
}

h6 {
  font-size: 2vh;
}

p .a-inline {
  font-size: 1.75vh;
}

@media (max-width: 767px) {

  #logo {
    font-size: 32px;
  }  

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p .a-inline {
    font-size: 12px;
  }
}
