* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0 3em 0 0.5em;
   width: 100%;
   background-color: #FFFAF5;
   border-bottom: 2px solid #666;
}


nav a {
   float: left;
   text-align: right;
}

.dropdown {
   float: left;
   overflow: hidden;
   margin-right: auto;
   transition: all 0.3s ease 0s;
   font-size: 1rem;
}

.dropdown:hover .dropbtn {
   color: #000;
   transition: all 0.3s ease 0s;
   z-index: 20;
}

.dropdown .dropbtn {
   border: none;
   background-color: inherit;
   font-family: inherit; /* Important for vertical align on mobile phones */
   margin: 0; /* Important for vertical align on mobile phones */
   font-size: 1rem;
   color: #f59;
   cursor: pointer;
}

.dropdown-content {
   display: none;
   position: fixed;
   overflow: auto;
   z-index: 10;
   border-radius: 10px;
   box-shadow: 0px 10px 20px 10px #FFFAF5 ;
   /* background-color: black; */
   background-color: rgba(255,250,245,0.9);
}

.dropdown-content a {
   float: none;
   padding: 12px 3px 2px 3px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown:hover .dropdown-content {
   display: block;
   align-items: center;
   transition: all 0.3s ease 0s;
}

#logo {
   cursor: pointer;
   margin-right: auto;
}

.nav-links {
   list-style: none;
   min-width: 250px;
}

.nav-links li {
   display: inline-block;
   padding: 0px 20px;
   /* width: 40%%; */
}

/* Footer */

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   opacity: 1;
   padding: 0.5em 0 0.5em 0;
   background: linear-gradient(0deg, #fff 95%, #666 99.5%);
}

.footer-link {
   color: #000;
   padding: 0 10px 0 10px;
}
